<div class="container">
    <%= render "layouts/sidebar" %>
    <div class="content-box col-md-8">
        <div class="page-title">
            <h2>Q&A</h2>
            <hr id="title-underbar">
        </div>
        <br>
        <div class="page-content" style="text-align:center;">
            <div class="search-bar">
                <form action="/Q&A/search/" method="get">
                    <select class="form-control" name="category" id="category-selector">
                        <option value="all">전체글</option>
                        <option value="Autosar">Autosar</option>
                        <option value="category_2">기타</option>
                    </select>
                    <select class="form-control" name="method" id="method-selector">
                        <option value="title">제목</option>
                        <option value="writer">작성자</option>
                        <option value="title+content">제목+내용</option>
                    </select>
                    <select class="form-control" name="answer" id="answer-selector">
                        <option value="all">전체보기</option>
                        <option value="no_answer">답변대기</option>
                        <option value="answered">답변완료</option>
                    </select>
                    <input type="text" class="form-control" id="search-bar" name="search_keyword"></input>
                    <button type="submit" class="btn btn-default">검색</button>
                </form>
            </div>
            <% if @qnas.present? %>
            <table class="table" id="mobile-table">
                <tbody>
                    <% @qnas.each do |q| %>
                        <tr>
                            <% if q.answer != "" && q.answer == true %>
                                <td><a href="/Q&A/show/<%=q.id %>" style="color:black"><span style="color:#022e82;">[답변완료] </span> <%= q.title %></a></td>
                            <% else %>
                                <td><a href="/Q&A/show/<%=q.id %>" style="color:black"><span style="color:#db3445;">[답변대기]</span>  <%= q.title %></a></td>
                            <% end %>
                            <td><%= q.created_at.strftime('%Y-%m-%d') %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <table class="table" id="web-table">
                <thead>
                    <tr>
                        <th>분류</th>
                        <th>제목</th>
                        <th>등록일</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <% @qnas.each do |q| %>
                        <tr>
                            <td><% if q.category == "Autosar" %>
                                    <%= q.category %>
                                <% else %>
                                    기타
                                <% end %>
                            </td>
                            <% if q.answer != "" && q.answer == true %>
                                <td><a href="/Q&A/show/<%=q.id %>" style="color:black"><span style="color:#022e82;">[답변완료] </span><%= q.title %></a></td>
                            <% else %>
                                <td><a href="/Q&A/show/<%=q.id %>" style="color:black"><span style="color:#db3445;">[답변대기]</span> <%= q.title %></a></td>
                            <% end %>
                            <td><%= q.created_at.strftime('%Y-%m-%d') %></td>
                            <% if q.user.present? %>
                                <td><%= q.user.nickname %></td>
                            <% else %>
                                <td></td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <% end %>
        </div>
        <% if user_signed_in? %>
            <p class="new-button-wrapper">
                <a href="/Q&A/new" class="btn btn-default" id="new-button">질문 작성</a>
            </p>
        <% else %>
            <p class="new-button-wrapper">
                <a href="/users/sign_in" class="btn btn-default" id="new-button">질문 작성</a>
            </p>
        <% end %>
        <div class="text-center" id="pagination-web">
            <%= will_paginate @qnas, renderer: BootstrapPagination::Rails, :previous_label => t("<<"), :next_label => t(">>"), :inner_window => 3, :outer_window => 0 %>
        </div>

        <div class="text-center" id="pagination-mobile">
            <%= will_paginate @qnas, renderer: BootstrapPagination::Rails, :previous_label => t("<<"), :next_label => t(">>"), :inner_window => 0, :outer_window => 0 %>
        </div>
    </div>
</div>

<style>
    div.search-bar{
        padding-left:5px;
        padding-right:5px;
        padding-top:10px;
        padding-bottom:10px;
        border:1px  solid #eee;
        margin-bottom:30px;
    }
    input#search-bar{
        display:inline-block;
        width:43%;
        max-width:256px;
        margin-right:10px;
        margin-left:10px;
    }
    select#method-selector, select#category-selector, select#answer-selector{
        width:10%;
        min-width:80px;
        display:inline-block;
        font-size:13px;
        margin-right:10px;
    }
    .pagination li.active a {
      color: #db3445;
    }
    hr#title-underbar{
       border-bottom:1px solid #eee;
       margin-bottom:0px;
    }

    a#new-button{
        font-size: 11px;
        padding: 3px 6px;
    }
    p.new-button-wrapper{
        text-align:right;
    }
    .page-title{
        font-family:Jeju;
    }
    .content-box{
        margin-top:60px;
        margin-left:10px;
    }
    .table{
        vertical-align:middle;
    }
    thead > tr > th{
        text-align:center;
    }
    .table > tbody > tr > td{
        padding-top:10px;
        padding-bottom:10px;
    }
    tbody > tr > td:nth-child(1){
    width:105px;
    text-align:center;
    }
    tbody > tr > td:nth-child(2){
        max-width:300px;
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden; 
        text-align:left;
        
    }
    tbody > tr > td:nth-child(3){
        width:105px;
        text-align:center;
    }
    tbody > tr > td:nth-child(4){
        max-width:65px;
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden; 
        text-align:center;
    }
    table > tbody > tr:last-child > td {
        border-bottom:1px solid #eee;
    }
    .table > thead > tr > th{
        border-bottom:1px solid #eee;
    }
    thead{
        border-top:2px solid #eee;
    }
    
    ul.pagination.pagination > li > a{
        color:#db3445;
    }
    ul.pagination.pagination > li > a > span{
        color:#777;
    }
    ul.pagination.pagination > li.active > span{
        background-color:#db3445;
        border-color:#db3445;
    }
    table#mobile-table{
        display:none;
    }
    div#pagination-mobile{
        display:none;
    }
    @media(max-width: 1199px){
        input#search-bar{
            display:inline-block;
            width:80%;
            max-width:80%;
            margin: auto;
            margin-right: 14px;
            margin-top: 10px;
            margin-left: -10px;
        }
        select#method-selector, select#category-selector, select#answer-selector{
            width:30%;
            min-width:70px;
            display:inline-block;
            font-size:13px;
            margin-right:8px;
        }
        option{
            text-align:center;
        }
        .btn-default{
            font-size: 14px;
            margin-left: -10px;
            margin-top: -2px;
        }
        div.search-bar{
            margin-bottom:15px;
        }
    }
    @media(max-width: 600px){
        table#mobile-table.table{
            table-layout: fixed;
            width:100%;
            max-width:100%;
        }
        tbody > tr > td:nth-child(1){
            max-width:50%;
            width:50%;
            overflow: hidden; 
            text-overflow: ellipsis;
            white-space:nowrap;
            text-align:left;
        }
        tbody > tr > td:nth-child(2){
            max-width:50px;
            width: 50px;
        }
        table#web-table{
            display:none;
        }
        table#mobile-table{
            display:table;
        }
    }
    
    @media (max-width: 480px) {
        .content-box {
            margin-top:0;
            padding-top:10px;
            margin-left: 0;
        }
        div#pagination-web{
            display:none;
        }
        div#pagination-mobile{
            display:block;
        }
    }
    @media(max-width: 436px){
        tbody > tr > td:nth-child(1){
            max-width:45%;
            width:45%;
            overflow: hidden; 
            text-overflow: ellipsis;
            white-space:nowrap;
            text-align:left;
        }
        tbody > tr > td{
            font-size:12px;
        }
        tbody > tr > td:nth-child(2){
            max-width:50px;
            width: 50px;
        }
        table#web-table{
            display:none;
        }
    }
    
    @media(max-width: 401px){
        input#search-bar{
            display:inline-block;
            width:77%;
            max-width:77%;
            margin: auto;
            margin-right: 18px;
            margin-top: 10px;
        }
        select#method-selector, select#category-selector, select#answer-selector{
            width:28%;
            min-width:50px;
            display:inline-block;
            font-size:12px;
            margin-right:7px;
            margin-left:6px;
            padding-left:3px;
            padding-right:3px;
        }
        .btn-default{
            font-size: 14px;
            margin-left: -15px;
            margin-top: -2px;
        }
    }
    
    @media(max-width: 360px){
        select#method-selector, select#category-selector, select#answer-selector{
            width:27%;
            min-width:50px;
            display:inline-block;
            font-size:12px;
            margin-right:7px;
            margin-left:6px;
            padding-left:3px;
            padding-right:3px;
        }
    }
    @media(max-width: 320px){
        select#method-selector, select#category-selector, select#answer-selector{
            width:26%;
            min-width:50px;
            display:inline-block;
            font-size:10px;
            margin-right:7px;
            margin-left:6px;
            padding-left:3px;
            padding-right:3px;
        }
        input#search-bar{
            display:inline-block;
            width:70%;
            max-width:70%;
            margin: auto;
            margin-right: 18px;
            margin-top: 10px;
        }
        .btn-default{
            font-size: 12px;
            margin-left: -15px;
            margin-top: -2px;
        }
    }
</style>
